In [4]:
# Load required libraries
import pandas as pd
import joblib
import json
import time

In [6]:
# Initalize an empty DataFrame with labels of data to be collected
df = pd.DataFrame(
    columns=['name', 'id', 'blurb', 'category', 'url', 'currency', 'pledged', 'goal', 'state',
             'location','creator_id', 'creator_name' 'created_at', 'launched_at', 'deadline', 
             'backers', 'staff_pick']
)

In [7]:
# Select JSON kickstarter data
filename = 'Kickstarter_2020-08-13T03_20_17_470Z.json'

In [8]:
# Record start time
start = time.time()

# Open JSON data file
with open(filename, encoding='utf8') as file:
    for index, line in enumerate(file):
        # Read each line and convert the JSON String into a Python dictionary
        json_obj = json.loads(line)
        
        # Catch any potential typos or missing keys that can raise a KeyError
        try:
            df.loc[index, 'name'] = json_obj['data']['name']
        except KeyError:
            continue 
        
        try:
            df.loc[index, 'id'] = json_obj['data']['profile']['id']
        except KeyError:
            continue 
            
        try:
            df.loc[index, 'blurb'] = json_obj['data']['blurb']
        except KeyError:
            continue 
        
        try:
            df.loc[index, 'category'] = json_obj['data']['category']['name']
        except KeyError:
            continue
        
        try:
            df.loc[index, 'url'] = \
                json_obj['data']['urls']['web']['project']
        except KeyError:
            continue
        
        try:
            df.loc[index, 'currency'] = json_obj['data']['currency']
        except KeyError:
            continue
            
        try:
            df.loc[index, 'pledged'] = json_obj['data']['pledged']
        except KeyError:
            continue
            
        try:
            df.loc[index, 'goal'] = json_obj['data']['goal']
        except KeyError:
            continue
            
        try:
            df.loc[index, 'state'] = json_obj['data']['state']
        except KeyError:
            continue
        
        try:
            df.loc[index, 'location'] = \
                json_obj['data']['location']['displayable_name']
        except KeyError:
            continue
            
        try:
            df.loc[index, 'creator_id'] = json_obj['data']['creator']['id']
        except KeyError:
            continue 
        
        try:
            df.loc[index, 'creator_name'] = json_obj['data']['creator']['name']
        except KeyError:
            continue
            
        try:
            df.loc[index, 'created_at'] = json_obj['data']['created_at']
        except KeyError:
            continue
            
        try:
            df.loc[index, 'launched_at'] = json_obj['data']['launched_at']
        except KeyError:
            continue
            
        try:
            df.loc[index, 'deadline'] = json_obj['data']['deadline']
        except KeyError:
            continue
            
        try:
            df.loc[index, 'backers'] = json_obj['data']['backers_count']
        except KeyError:
            continue
            
        try:
            df.loc[index, 'staff_pick'] = json_obj['data']['staff_pick']
        except KeyError:
            continue
            
# Report elapsed time in seconds
time.time() - start

48891.49925303459

In [2]:
!ls

 app.py
'Data Cleaning Kickstarter Webscrapped JSON File  .ipynb'
 data-picture.csv
 data-picture.jpg
 data-picture.png
 datasets_273211_566171_kickstarter.csv
'Download Images Notebook.ipynb'
'Failed (with Backers) Goal Ratio.ipynb'
'Failed (without Backers) Goal Ratio.ipynb'
 final_prediction.pickle
 hello.py
 Kickstarter_2020-08-13T03_20_17_470Z.json
 ks-projects-201612.csv
 ks-projects-201801.csv
'Nick Kickstarter Data Testing Failed .ipynb'
'Nick Kickstarter Data Testing Succeed vs Failed .ipynb'
 notebook2f9d43e619.ipynb
'Notes from meetings.odt'
 pie.png
 __pycache__
 request.py
 requirements.txt
 Untitled1.ipynb
 Untitled2.ipynb
 Untitled.ipynb
 web_robots_data_to_08-2020

In [6]:
df = joblib.load('web_robots_data_to_08-2020')

In [11]:
df.head()

,name,id,blurb,category,url,currency,pledged,goal,state,location,creator_id,creator_namecreated_at,launched_at,deadline,backers,staff_pick,creator_name,created_at
0,Print 1000 Copies of The DENA Magazine Issue #...,551250,Be a part of history as we become the living d...,Periodicals,https://www.kickstarter.com/projects/105349506...,USD,0,2900,failed,"Pasadena, CA",1053495067,NaN,1368125818,1372640400,0,False,Jason Hardin,1.367192e+09
1,Hopskeller Brewing Company -- Community Beer G...,1284652,Be a part of the Hopskeller family and let's b...,Small Batch,https://www.kickstarter.com/projects/hopskelle...,USD,21832,20000,successful,"Waterloo, IL",1799737223,NaN,1452897383,1455489383,117,False,Matthew Schweizer,1.407877e+09
2,Southern Fusion Bbq Food Truck,3003776,I'm a looking to start my own food truck. I ha...,Food Trucks,https://www.kickstarter.com/projects/622491845...,USD,1,10000,failed,"Tampa, FL",622491845,NaN,1495109582,1498881540,1,False,Russel Short,1.495024e+09
3,Help the Green Boys release their second album...,532135,The Green Boys are finished recording their se...,Country & Folk,https://www.kickstarter.com/projects/112702461...,USD,4213,3000,successful,"Richmond, VA",112702461,NaN,1366404388,1368244740,105,False,The Green Boys,1.365637e+09
4,Creative Lighting with Yongnuo SpeedLights,1062669,I push the limits into what can be achieved wi...,Photobooks,https://www.kickstarter.com/projects/152187118...,USD,1,2000,failed,"Minneapolis, MN",1521871187,NaN,1402605560,1405197560,1,False,Peter Chang,1.402425e+09

In [1]:
# Display collected data information
df.info()

NameError: name 'df' is not defined

In [15]:
df.head()

,name,id,blurb,category,url,currency,pledged,goal,state,location,creator_id,creator_namecreated_at,launched_at,deadline,backers,staff_pick,creator_name,created_at
0,Print 1000 Copies of The DENA Magazine Issue #...,551250,Be a part of history as we become the living d...,Periodicals,https://www.kickstarter.com/projects/105349506...,USD,0,2900,failed,"Pasadena, CA",1053495067,NaN,1368125818,1372640400,0,False,Jason Hardin,1.367192e+09
1,Hopskeller Brewing Company -- Community Beer G...,1284652,Be a part of the Hopskeller family and let's b...,Small Batch,https://www.kickstarter.com/projects/hopskelle...,USD,21832,20000,successful,"Waterloo, IL",1799737223,NaN,1452897383,1455489383,117,False,Matthew Schweizer,1.407877e+09
2,Southern Fusion Bbq Food Truck,3003776,I'm a looking to start my own food truck. I ha...,Food Trucks,https://www.kickstarter.com/projects/622491845...,USD,1,10000,failed,"Tampa, FL",622491845,NaN,1495109582,1498881540,1,False,Russel Short,1.495024e+09
3,Help the Green Boys release their second album...,532135,The Green Boys are finished recording their se...,Country & Folk,https://www.kickstarter.com/projects/112702461...,USD,4213,3000,successful,"Richmond, VA",112702461,NaN,1366404388,1368244740,105,False,The Green Boys,1.365637e+09
4,Creative Lighting with Yongnuo SpeedLights,1062669,I push the limits into what can be achieved wi...,Photobooks,https://www.kickstarter.com/projects/152187118...,USD,1,2000,failed,"Minneapolis, MN",1521871187,NaN,1402605560,1405197560,1,False,Peter Chang,1.402425e+09

In [9]:
# Serialize the collected data
joblib.dump(df, 'web_robots_data_to_08-2020')

['web_robots_data_to_08-2020']

In [17]:
df.describe(include = 'all')

,name,id,blurb,category,url,currency,pledged,goal,state,location,creator_id,creator_namecreated_at,launched_at,deadline,backers,staff_pick,creator_name,created_at
count,208037,208037.0,208037,208037,208037,208037,208037.0,208037.0,208037,207875,2.078750e+05,0,2.078750e+05,2.078750e+05,207875.0,207875,207875,2.078750e+05
unique,177604,178158.0,176646,161,178158,14,47077.0,5396.0,4,14557,1.526210e+05,0,1.778370e+05,1.678890e+05,3389.0,2,146095,NaN
top,Home,4003997.0,ALL-NEW SEXY BADGIRL characters from comic boo...,Web,https://www.kickstarter.com/projects/shayhorch...,USD,0.0,5000.0,successful,"Los Angeles, CA",2.104053e+09,NaN,1.592928e+09,1.598933e+09,0.0,False,David,NaN
freq,9,4.0,39,4649,4,142068,15313.0,14729.0,120331,9160,6.000000e+01,NaN,6.000000e+00,2.900000e+01,15308.0,180392,71,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.479414e+09
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.502746e+07
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.240366e+09
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.423331e+09
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.480180e+09
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.547598e+09
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.597248e+09

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208037 entries, 0 to 208036
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   name                    208037 non-null  object
 1   id                      208037 non-null  object
 2   blurb                   208037 non-null  object
 3   category                208037 non-null  object
 4   url                     208037 non-null  object
 5   currency                208037 non-null  object
 6   pledged                 208037 non-null  object
 7   goal                    208037 non-null  object
 8   state                   208037 non-null  object
 9   location                207875 non-null  object
 10  creator_id              207875 non-null  object
 11  creator_namecreated_at  0 non-null       object
 12  launched_at             207875 non-null  object
 13  deadline                207875 non-null  object
 14  backers                 207875 non-null  object
 15  staff_pick              207875 non-null  object
 16  creator_name            207875 non-null  object
 17  created_at              207875 non-null  float64
dtypes: float64(1), object(17)
memory usage: 40.2+ MB